:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

.my-button {
  margin: 4px;
  padding: 4px 8px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
