:host {
  display: flex;
  justify-content: center;
  margin: 100px 0px;
}

.input-field {
  width: 100%;
  min-width: 300px;
}

.my-button {
  margin: 6px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}
