<div>
  <button mat-raised-button (click)="musicClick()">Musique</button>
  <button mat-raised-button (click)="englishClick()">Anglais</button>
  <button mat-raised-button (click)="sportClick()">Sport</button>
</div>

<div class="line">
  <div class="cell">Heure</div>
  <ng-container *ngFor="let day of days">
    <div class="cell">Jour {{ day }}</div>
  </ng-container>
</div>

<div class="line">
  <div class="column">
    <ng-container *ngFor="let period of periodsLabels">
      <div class="cell content">{{ period }}</div>
    </ng-container>
  </div>
  <div *ngFor="let day of days">
    <div class="column">
      <ng-container *ngFor="let period of periodsId">
        <div class="cell content">
          <app-calendar-cell
            [day]="day"
            [periode]="getPeriode(day, period)"
          ></app-calendar-cell>
        </div>
      </ng-container>
    </div>
  </div>
</div>
